@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 254 89% 4%;
    --bg: 256 100% 98%;
    --primary: 258 94% 55%;
    --secondary: 340 93% 71%;
    --accent: 8 94% 61%;
  }
  .dark {
    --text: 253 90% 96%;
    --bg: 258 100% 2%;
    --primary: 258 94% 45%;
    --secondary: 340 93% 29%;
    --accent: 8 94% 39%;
  }
}

@layer components {
  .selectContainer {
    @apply flex items-center justify-center gap-1 px-2 py-2 bg-accent/90 rounded-md text-white font-bold tracking-widest text-lg transition hover:shadow-lg hover:shadow-accent/20;
  }
  .selectInActive {
    @apply cursor-pointer text-white min-w-20 px-2 rounded-md text-center;
  }
  .selectActive {
    @apply cursor-pointer text-accent bg-white min-w-20 px-2 rounded-md text-center;
  }
}
